<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Meilleurs Ventes</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Razer Blade 18</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">LL'Asus ROG Strix G15 est un PC orienté gaming, possédant quasiment les mêmes caractéristiques que son homologue, le Strix Scar 15 : processeur AMD, GPU NVIDIA, 32 Go de RAM, 1 To de SSD et un taux de rafraîchissement d'écran élevé (jusqu'à 300 Hz)..</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4> Steelseries Aerox 5 WL Destiny 2 Edition</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Désormais disponible avec une élégante finition mercury ou noir mat. L’ordinateur portable 18 pouces ultime avec des processeurs Intel® Core™ i9 HX de 13e génération et une carte graphique NVIDIA® GeForce RTX™ de la série 40...</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>LG UltraGear OLED</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Grâce à une dalle OLED 45" WQHD au format 21/9 prenant en charge le HDR10 et couvrant 98,5% de l'espace colorimétrique DCI-P3 (Typ.), le moniteur LG UltraGear™ permet aux joueurs de s'immerger au cœur du jeu.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4> Logitech G733 Lightspeed Black</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Casque gaming sans fil LIGHTSPEED avec une autonomie jusqu'à 29 heures, Éclairage RVB LIGHTSYNC personnalisable à l'avant avec environ 16,8 millions de couleurs, Bandeau réversible confortable au toucher doux et oreillettes en mousse à mémoire de forme, Micro amovible avec technologie Blue VO!CE.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Exploitez le Pouvoir de  <br>l'IT
                        <br />
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>